{% extends "base.html" %} {% block title %}McAlvany Private Server{% endblock %} {% block content
    %}
    <br />
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="mb-3">
            <a href="/mcalvanypm" class="btn btn-secondary d-block mx-auto">Precious Metals</a>
          </div>
          <div class="mb-3">
            <a href="/mcalvanymwm" class="btn btn-secondary d-block mx-auto">Wealth Management</a>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}